doctype html
html(lang='en')
	head
		title Exam prepare
		script.
			var server = !{script_vars};
			server.offset = server.server_time-Date.now()/1000;
		include ../common.pug
		script(src=base_url('static/exam.lounge.js'))
	body
		nav.ui.fixed.inverted.navbar.menu
			.left.menu
				.item PopQuiz
			.right.menu
				.item= name
				a.item(href=site_url('exam/logout')) Logout
		main.ui.page.grid.container
				.row
				.row
					.column
						h1.ui.header.quiz-title= quiz_title
						pre.instruction= instruction
						.field
							button.ui.toggle.button#start_btn Ready
							label#timer Loading...